name: R-check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  R-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }}) - CKAN ${{ matrix.config.ckan-version }}

    strategy:
      fail-fast: false
      matrix:
        config:
        - { os: windows-latest, r: 'release'}
        - { os: macOS-latest, r: 'release'}
        # - { os: ubuntu-latest, r: 'release', ckan-version: '2.7', ckan-pg-version: '2.7', solr-version: 2.7}
        # - { os: ubuntu-latest, r: 'release', ckan-version: '2.8', ckan-pg-version: '2.8', solr-version:'2.8'}
        - { os: ubuntu-latest, r: 'release', ckan-version: '2.9', ckan-pg-version: '2.9', solr-version: '2.9-solr9-spatial'}
        - { os: ubuntu-latest, r: 'release', ckan-version: '2.10-py3.10', ckan-pg-version: '2.10', solr-version: '2.10-solr9-spatial'}
        - { os: ubuntu-latest, r: 'release', ckan-version: '2.11', ckan-pg-version: '2.11', solr-version: '2.10-solr9-spatial'}
        - { os: ubuntu-latest, r: 'devel', ckan-version: '2.11', ckan-pg-version: '2.11', solr-version: '2.10-solr9-spatial'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CKANR_TEST_URL: 'http://localhost:5000'
      CKANR_TEST_BEHAVIOUR: 'SKIP'
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      R_KEEP_PKG_SOURCE: yes
      CKAN_VERSION: ${{ matrix.config.ckan-version }}
      CKAN_PG_VERSION: ${{ matrix.config.ckan-pg-version }}
      SOLR_VERSION: ${{ matrix.config.solr-version }}

    steps:
      - uses: actions/checkout@v3

      - name: Configure /etc/hosts
        run: sudo echo "127.0.0.1 ckan" | sudo tee -a /etc/hosts
        if: matrix.config.os == 'ubuntu-latest'

      - name: Start CKAN
        run: docker compose -f .devcontainer/docker-compose.yml up -d
        if: matrix.config.os == 'ubuntu-latest'

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        if: ${{ runner.os != 'macOS' }}
        with:
          extra-packages: |
            any::rcmdcheck
            any::covr
            any::xml2
          needs: |
            check
            coverage

      - uses: r-lib/actions/setup-r-dependencies@v2
        if: ${{ runner.os == 'macOS' }}
        with:
          extra-packages: |
            any::rcmdcheck
            any::covr
            any::xml2
          needs: |
            check
            coverage
          cache: false

      - name: Generate CKAN API token (CKAN >= 2.9)
        run: |
          echo "CKANR_TEST_KEY=$(docker exec ckan ckan user token add ckan_admin dev_token | sed 's/API Token created://' | tr -d '\n\t')" >> $GITHUB_ENV
        if: matrix.config.ckan-version != '2.8' && matrix.config.os == 'ubuntu-latest'

      # - name: Generate CKAN API key (CKAN 2.8)
      #   run: |
      #     echo "CKANR_TEST_KEY"=$(docker exec ckan paster --plugin=ckan user ckan_admin | grep -o -P '(?<=apikey=).*(?= created)') >> $GITHUB_ENV
      #   if: matrix.config.ckan-version == '2.8' && matrix.config.os == 'ubuntu-latest'

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "error", check_dir = "check")
        shell: Rscript {0}

      - name: Test coverage
        if: matrix.config.os == 'ubuntu-latest' && matrix.config.r == 'release' &&  matrix.config.ckan-version == '2.11'
        run: |
          cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")
          )
          print(cov)
          covr::to_cobertura(cov)
        shell: Rscript {0}

      - uses: codecov/codecov-action@v5
        if: matrix.config.os == 'ubuntu-latest' && matrix.config.r == 'release' &&  matrix.config.ckan-version == '2.11'
        with:
          # Fail if error if not on PR, or if on PR and token is given
          fail_ci_if_error: ${{ github.event_name != 'pull_request' || secrets.CODECOV_TOKEN }}
          files: ./cobertura.xml
          plugins: noop
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Show testthat output
        if: always()
        run: |
          ## --------------------------------------------------------------------
          find '${{ runner.temp }}/package' -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload test results
        if: failure() && matrix.config.os == 'ubuntu-latest' && matrix.config.r == 'release' &&  matrix.config.ckan-version == '2.11'
        uses: actions/upload-artifact@v4
        with:
          name: coverage-test-failures
          path: ${{ runner.temp }}/package
